*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: lightgray;
    font-family:sans-serif;
}

.navbar-nav a:link{
   text-transform: uppercase;
   font-size: 90%;
   border-bottom: 2px solid transparent;
   padding: 8px 2px;
   font-weight: 600;
   color: purple;
   transition: border-bottom 0.2s;
}
.navbar-nav a:hover{
    border-bottom: 2px solid purple;
}
.container-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
.container-text h1 p {
    text-transform: uppercase;
    display: block;
}
.heading {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-top: 15%;
    margin-bottom: 15%;
    position: relative;
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #390099 0%,
    #9e0059 29%,
    #ff0054 67%,
    #ff5400 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1s linear infinite;
}
.paragraph{
    margin-top: -12%;
    font-size: 20px;
    color:black;
}
.img1{
    height: 175px;
    width: 175px;
    position: absolute;
    left: 150%;
    top: -10%;
}
.img2{
    height: 175px;
    width: 175px;
    position: absolute;
    left: 120%;
    top: 30%;
}
.img3{
    height: 175px;
    width: 175px;
    position: absolute;
    left: 150%;
    top: 75%;
}
img{
    transition: all 0.8s ease;
}
img:hover{
    margin-top: -10px;
    border: 1px solid #222;
    box-shadow: 5px 10px 0 lightgray;
    cursor: pointer;
}

/* For Animating Text */
@keyframes textclip {
to {
background-position: 200% center;
}
}

